
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #5046a0;
}

li {
    margin-bottom: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
}

.deletebutton {
    margin-left: 20px;
}

.editbutton {
    margin-left: 20px;
}

.updatebutton {
    display: none;
}

.backbutton {
    display: none;
}

#result2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.cover {
    height: 450px;
    width: 400px;
}

h2 {
    margin: 15px;
}

h1 {
    margin: 15px;
}

.available {
    color: green;
}

.rented {
    color: red;
}

.rentbackbutton {
    margin-top: 15px;
    display: none;
}

.okbutton {
    margin-top: 15px;
    display: none;
}

.rentinput {
    display: none;
}

.returnmoviebutton {
    margin-top: 15px;
}

.returnbackbutton {
    margin-top: 15px;
    display: none;
}

.returnokbutton {
    margin-top: 15px;
    display: none;
}

.returninput {
    display: none;
}

.userinput {
    display: none;
}

.userokbutton {
    margin-top: 15px;
    display: none;
}

.userbackbutton {
    margin-top: 15px;
    display: none;
}

.userrentals {
    margin-top: 15px;
}
